<div class="book-container">
  <ng-content select=".title"></ng-content>
  <ng-content select=".book-image"></ng-content>
  <div class="footer px-4 d-flex justify-content-between align-items-center">
    <div class="price-rating d-flex flex-column">
      <ng-content select=".price"></ng-content>
      <ng-content select=".rating"></ng-content>
    </div>
    <button class="btn btn-success fw-bold">Buy now</button>
  </div>
</div>

<!-- <p>listdata works!</p>
<ng-content select=".title"></ng-content>
<ul class=" product" >
    <li class="list-inline-item1" *ngFor="let item of data">
        <p>{{item.id}}</p>
        <p>{{item.product}}</p>
    </li>
  </ul>
<ng-content select=".price"></ng-content> -->
