<div class="container-fluid">
    <header>
        <h2>Welcome to KLN college of Engineering</h2>
        <p>where quality meet education</p>
    </header>
    
    <div class="clgimg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1HXgp4ezlY06ko0z1VaPzNFzRNG6QfcsZtQ&s" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNIqLI1s_-G9W-k4P5nS683NKbDDm82GCRE4W4N0-wyu18dkVoM69AkRAmT4NP9QadxkU&usqp=CAU" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Xpdbi6n1inBw-DNM5vvG9NJ-NtYoDDefJs98qPPj_g5RxlMOrjxD2A1LQlawgFM03bA&usqp=CAU" alt="">
    </div>

    <section class="departments">
        <h2>Departments Available</h2>
        <ul>
          <li>Computer Science Engineering</li>
          <li>Electronics and Communication Engineering</li>
          <li>Mechanical Engineering</li>
          <li>Civil Engineering</li>
          <li>Information technology</li>
        </ul>
      </section>

      <section class="location">
        <h2>Our location</h2>
        <p>KLN college of Engineering, Madurai, Tamil Nadu, India.</p>
        <iframe 
      width="100%" 
      height="300" 
      src="https://www.google.com/maps?q=Madurai,+Tamil+Nadu&output=embed"
      frameborder="0" 
      allowfullscreen>
    </iframe>
  </section>

</div>