<div class="book-container">
  <h3 class="my-3 text-center" style="color: rgb(53, 53, 214);">Book Store</h3>
  <div class="container">
    <div class="row">
      
      <div class="col-md-4" *ngFor="let book of books">
        <app-listdata [bookData]="book">
          <h4 class="title">{{ book.name }}</h4>
          <img class="book-image" [src]="book.imageUrl" alt="{{ book.name }}">
          <p class="price">Price:₹ {{ book.price }}</p>
          <p class="rating">Rating:⭐ {{ book.rating }}/5</p>
        </app-listdata>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container product">
    <div class="row ">
      <div class="col-md-6">  
        <app-listdata [data]="data1">
            <h1 class="title">iphone 2</h1>
            <h1 class="price">total 2</h1>
        </app-listdata>
      </div>

      <div class="col-md-6" >
        <app-listdata [data]="data1">
            <h1 class="title">Motorola 2</h1>
            <h1 class="price">price 2</h1>
        </app-listdata>
      </div>
    </div>
  </div> -->
