<div class="book-container">
  <h3 class="my-3 text-center" style="color: rgb(53, 53, 214)">Book Store</h3>
  <p class="fst-italic text-center">-- Books available in college library --</p>
  <div class="container">
    <div class="row">
      <!-- using *ngFor loops through the array, it will create seperate div again and again-->

      <div
        class="col-md-4 sm-2 my-3"
        style="border: 1px solid black"
        *ngFor="let book of books"
      >
        <app-listdata [bookData]="book">
          <h4 class="title text-center mt-3" style="border: 1px solid grey">
            {{ book.name }}
          </h4>
          <img
            class="book-image mb-2 img-fluid mx-auto"
            [src]="book.imageUrl"
            alt="{{ book.name }}"
          />
          <p class="price mb-0 fw-bold">Price:₹ {{ book.price }}</p>
          <p class="rating fw-normal ">Rating:⭐ {{ book.rating }}/5</p>
        </app-listdata>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container product">
    <div class="row ">
      <div class="col-md-6">  
        <app-listdata [data]="data1">
            <h1 class="title">iphone 2</h1>
            <h1 class="price">total 2</h1>
        </app-listdata>
      </div>

      <div class="col-md-6" >
        <app-listdata [data]="data1">
            <h1 class="title">Motorola 2</h1>
            <h1 class="price">price 2</h1>
        </app-listdata>
      </div>
    </div>
  </div> -->
